.custom-button {
  min-width: 160px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 16px;
  background-color: #fa475f;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0;
  outline: none;

  &.google-signin {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: #5a91e9;
      color: #fff;
    }
  }

  &:hover {
    background: #fa6176;
    color: #fff;
  }
}
